:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.tipoCafeteria{
  color: var(--color-primario-marron);
  font-weight: 700;
  font-size: large;
}

.cafeteriaCard{
  display: block;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.cafeteriaCard_titulo h3{
  text-align: center;
}

.CafeteriaCard_unica{
  cursor: pointer;
  transition: transform .2s;
}

.CafeteriaCard_unica:hover{
  transform: translateY(-3px);
}

.cafeteriaCard_unica{
  max-width: 300px;
}

.CafeteriaCard_unica h3{
  font-weight: 600;
  font-size: 22.5px;
}

.contenedor-cafeterias{
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
}

.contenedor-cafeterias>div{
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 0;
  overflow-y: hidden;
}

.CafeteriaCard_unica img{
  width: 300px;
  border-radius: 10px;
}

.div-imagen-CafeteriaCard{
  width: 300px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.div-imagen-CafeteriaCard>img{
  width: 100%;
  height: auto;
}

.CafeteriaCard_unica p{
  font-size: 20px;
}

.CafeteriaCard_unicaSeleccion{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.CafeteriaCard_unicaValoracion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.CafeteriaCard_unicaValoracion img{
  width: 20px;
}

.CafeteriaCard_unicaValoracion p{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.CafeteriaCard_unicaBoton{
  background: var(--color-fosforito);
  color: var(--color-secundario-negro);
  border-radius: 10px;
  border: none;
  padding: 0 1.5rem;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  align-items: center;
}

.contenedor-skeletons{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 0;
  width: 100%;
  overflow: hidden;
}

.contenedor-skeletons>div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.skeleton {
  width: 300px;
  height: 220px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}
