:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.cafeteriaCard{
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.cafeteriaCard_titulo p{
  font-family: "Inter", sans-serif;
  font-size: 17.5px;
}

.CafeteriaCard_unica{
  cursor: pointer;
  transition: transform .2s;
}

.CafeteriaCard_unica:hover{
  transform: translateY(-3px);
}

.cafeteriaCard_unica{
  max-width: 300px;
}

.CafeteriaCard_unica h3{
  font-weight: 600;
  font-size: 22.5px;
}

.contenedor-cafeterias{
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
}

.contenedor-cafeterias>div{
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 0;
  overflow-y: hidden;
}

.CafeteriaCard_unica img{
  width: 300px;
  border-radius: 10px;
}

.CafeteriaCard_unica p{
  font-size: 20px;
}

.CafeteriaCard_unicaSeleccion{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.CafeteriaCard_unicaValoracion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.CafeteriaCard_unicaValoracion img{
  width: 20px;
}

.CafeteriaCard_unicaValoracion p{
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.CafeteriaCard_unicaBoton{
  background: var(--color-fosforito);
  color: var(--color-secundario-negro);
  border-radius: 10px;
  border: none;
  padding: 0 1.5rem;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
  align-items: center;
}
