.imagen_principal{
  overflow: hidden;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
}

.imagen_principal img{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

.imagen_principal h1{
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  margin: 0;
  color: #E3FF68;
}

.reto_home{
  background-color: #313132;
  margin: 7.5rem auto;
  padding: 2rem 3rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 1800px;
  width: 70vw;
  box-shadow: 1px 2px 3px black;
}

.reto_home h3{
  font-size: 25px;
  text-align: center;
}

.contenidoDescripcion_home{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.descripcion_retoHome{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  max-width: 700px;
}
.descripcion_retoHome img{
  width: 50px;
}

.descripcion_retoHome p{
  font-weight: bold;
  margin: 0;
}

.retoBoton_home{
  background: #E3FF68;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  display: block;
  margin: 2rem auto 0;
  font-weight: bold;
  margin-bottom: -55px;
  box-shadow: 1px 2px 3px black;
}

.fondoBonito_home{
  display: flex;
  max-width: 1800px;
  margin: 7.5rem auto;
  max-height: 90vh;
}

.fondoBonitoLetras_home{
  width: 50vw;
  background-color: #E3FF68;
  align-content: center;
  text-align: end;
}

.fondoBonitoLetras_home h2{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 75px;
  margin-right: 25px;
}

.fondoBonitoImg_home{
  width: 50vw;
}

.fondoBonitoImg_home img{
  max-height: 90vh;
  width: 100%;
}

.productos_home {
  max-width: 1800px;
  margin: 7.5rem auto;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto_home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.producto_home img {
  width: auto;
  height: 100%;
}

.producto_home h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: xx-large;
}

.contenerdorImg_home,
.contenerdorTexto_home{
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenerdorTexto_home{
  height: 100px;
  width: 200px;
  align-content: center;
}

.texto_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.texto_logo img{
  width: 200px;
  height: 200px;
}

.texto_logo h2 {
  font-size: 80px;
  font-weight: bold;
  font-family: "Bagel Fat One", system-ui;
  margin: 0;
}

.texto_logo p {
  font-size: 25px;
  color: gray;
  font-family: "Montserrat", sans-serif;
}
