.imagen_principal{
  overflow: hidden;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imagen_principal img{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  display: block;
  z-index: -1;
}

.imagen_principal h1{
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  margin: 0;
  color: #E3FF68;
}

.reto_home{
  background-color: #313132;
  margin: 7.5rem 17.5rem;
  padding: 2rem 3rem;
  font-family: "Montserrat", sans-serif;

  color: white;
}

.reto_home h3{
  font-size: 25px;
  text-align: center;
}

.contenidoDescripcion_home{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.descripcion_retoHome{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  max-width: 700px;
}
.descripcion_retoHome img{
  width: 50px;
}

.descripcion_retoHome p{
  font-weight: bold;
  margin: 0;
}

.retoBoton_home{
  background: #E3FF68;
  border-radius: 1rem;
  border: none;
  padding: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
