.img-background{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  filter: brightness(0.3);
  z-index: -1;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100vh;
  text-align: center;
}

span{
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

h1{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: x-large;
}

h3{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: medium;
}

@media screen and (min-width: 800px) {
  .img-background{
    width: 100%;
    height: auto;
  }
}
