.imagen_principal{
  overflow: hidden;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1800px;
  margin: 0 auto;
}

.imagen_principal img{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

.imagen_principal h1{
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 250px;
  margin: 0;
  color: #E3FF68;
}

.reto_home {
  position: relative;
  background-color: #313132;
  margin: 7.5rem auto;
  padding: 4rem 7rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  max-width: 1800px;
  width: 60vw;
  box-shadow: 1px 2px 3px black;
  height: 80vh;
  overflow: visible;
}

.reto_home h3{
  font-size: 45px;
  text-align: center;
}

.contenidoDescripcion_home{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.descripcion_retoHome{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 7.5rem;
  max-width: 70vw;
}

.descripcion_retoHome img {
  height: 100px;
  width: auto;
}

.descripcion_retoHome p{
  font-weight: bold;
  margin: 0;
  font-size: 25px;
}

.retoBoton_home {
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: #E3FF68;
  border-radius: 30px;
  border: none;
  padding: 2rem 4rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 1px 2px 3px black;
  font-size: 20px;
}

.fondoBonito_home{
  display: flex;
  max-width: 1800px;
  margin: 7.5rem auto;
  max-height: 90vh;
}

.fondoBonitoLetras_home{
  width: 50vw;
  background-color: #E3FF68;
  align-content: center;
  text-align: end;
}

.fondoBonitoLetras_home h2{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 125px;
  margin-right: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fondoBonitoImg_home{
  width: 50vw;
}

.fondoBonitoImg_home img{
  max-height: 90vh;
  width: 100%;
}

.productos_home {
  max-width: 1800px;
  margin: 7.5rem auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producto_home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.producto_home img {
  width: auto;
  height: 100%;
}

.producto_home h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 60px;
}

.contenerdorImg_home,
.contenerdorTexto_home{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenerdorImg_home{
  height: 1000px;
  width: 800px;
  align-items: center;
}

.contenerdorTexto_home{
  height: 200px;
  width: 300px;
}

.texto_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 1000px;
  width: 800px;
}

.texto_logo img{
  width: 400px;
  height: 400px;
}

.texto_logo h2 {
  font-size: 100px;
  font-weight: bold;
  font-family: "Bagel Fat One", system-ui;
  margin: 0;
}

.texto_logo p {
  font-size: 35px;
  color: #4B4B4C;
  font-family: "Montserrat", sans-serif;
}

.newsletter_home {
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  margin: 0 auto;
  max-width: 1800px;
  font-family: "Montserrat", sans-serif;
}

.newsletterImgContainer_home {
  display: flex;
  justify-content: center;
  height: 100%;
}

.newsletterImgContainer_home img {
  max-height: 90vh;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.newsletterTexto_home {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletterTextoTitulo_home{
  text-align: center;
}

.newsletterTexto_home h6{
  font-size: 40px;
  color: #313132;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 4rem;
}

.newsletterTextoInput_home{
  padding: 1.5rem 2.25rem;
  width: 75%;
  border: 1px solid #4B4B4C;
  border-radius: 25px;
  margin-bottom: 1rem;
  font-size: 20px;
}

.newsletterTextoInput_home:focus {
  border-color: initial;
  outline: none;
}

.newsletterTextoBoton_home{
  box-shadow: none;
  bottom: 0;
  left: 0;
  transform: none;
  margin-bottom: 3rem;
  position: relative;
  width: 45%;
  font-size: 20px;
}

.newsletterTexto_home p{
  font-size: 20px;
}


@media screen and (max-width: 2300px){
  .descripcion_retoHome{
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 2000px){
  .descripcion_retoHome{
    margin-bottom: 5rem;
  }

  .reto_home h3{
    font-size: 35px;
  }

  .descripcion_retoHome img {
    height: 75px;
  }

  .descripcion_retoHome p{
    font-size: 20px;
  }

  .contenerdorImg_home,
  .texto_logo{
    height: 800px;
    width: 600px;
  }

  .producto_home h5 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1800px){

  .imagen_principal h1{
    font-size: 200px;
  }

  .reto_home{
    width: 80vw;
  }

  .descripcion_retoHome{
    margin-bottom: 2.5rem;
  }

  .contenerdorTexto_home{
    width: 200px;
  }

  .contenerdorImg_home,
  .texto_logo{
    height: 600px;
    width: 400px;
  }

  .texto_logo img{
    width: 300px;
    height: 300px;
  }

  .texto_logo h2 {
    font-size: 80px;
  }

  .texto_logo p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1500px){
  .imagen_principal h1{
    font-size: 150px;
  }

  .reto_home{
    padding: 3.5rem 6rem;
  }

  .reto_home h3{
    font-size: 30px;
  }

  .descripcion_retoHome img {
    height: 50px;
  }

  .descripcion_retoHome p{
    font-size: 17.5px;
  }

  .retoBoton_home{
    bottom: -2rem;
    padding: 1rem 2rem;
    font-size: 15px;
  }

  .fondoBonitoLetras_home h2{
    font-size: 75px;
  }

  .contenerdorImg_home,
  .texto_logo{
    height: 600px;
    width: 400px;
  }

  .producto_home img {
    width: auto;
    height: 75%;
  }

  .producto_home h5 {
    font-size: 30px;
  }

  .texto_logo img{
    width: 200px;
    height: 200px;
  }

  .texto_logo h2 {
    font-size: 60px;
  }

  .texto_logo p {
    font-size: 20px;
  }

  .newsletterTexto_home h6{
    font-size: 30px;
  }

  .newsletterTextoInput_home{
    padding: 1rem 2rem;
    width: 75%;
    font-size: 15px;
  }

  .newsletterTextoBoton_home{
    width: 30%;
    font-size: 15px;
  }

  .newsletterTexto_home p{
    font-size: 15px;
  }
}

@media screen and (max-width: 1250px){
  .imagen_principal h1{
    font-size: 100px;
  }

  .reto_home{
    padding: 3rem 5rem;
  }

  .reto_home h3{
    font-size: 25px;
  }

  .descripcion_retoHome:first-child{
    margin-top: 1rem !important;
  }

  .descripcion_retoHome img {
    height: 40px;
  }

  .descripcion_retoHome p{
    font-size: 15px;
  }

  .contenerdorImg_home,
  .texto_logo{
    height: 400px;
    width: 200px;
  }

  .producto_home img {
    width: auto;
    height: 75%;
  }

  .producto_home h5 {
    font-size: 30px;
  }

  .texto_logo img{
    width: 200px;
    height: 200px;
  }

  .texto_logo h2 {
    font-size: 60px;
  }

  .texto_logo p {
    font-size: 20px;
  }

  .newsletterTexto_home{
   max-width: 450px;
  }

  .newsletterTexto_home h6{
    font-size: 25px;
  }

  .newsletterTextoInput_home{
    padding: 1rem 2rem;
    width: 75%;
    font-size: 15px;
  }

  .newsletterTextoBoton_home{
    width: 30%;
    font-size: 10px;
  }

  .newsletterTexto_home p{
    font-size: 12.5px;
  }
}

@media screen and (max-width: 1000px){

  .reto_home{
    padding: 1.5rem 2.5rem;
  }

  .descripcion_retoHome p{
    font-size: 12.5px;
  }

  .retoBoton_home{
    bottom: -1.5rem;
    padding: 1rem 2rem;
    font-size: 10px;
  }

  .fondoBonitoLetras_home h2{
    font-size: 50px;
  }

  .productos_home{
    margin: 2rem auto;
  }

  .texto_logo img{
    width: 150px;
    height: 150px;
  }

  .contenerdorTexto_home{
    width: 150px;
  }

  .texto_logo h2 {
    font-size: 30px;
  }

  .texto_logo p {
    font-size: 15px;
  }

  .newsletter_home{
    gap: 2.5rem;
  }

  .newsletterImgContainer_home{
    height: auto;
  }

  .newsletterTexto_home{
    max-width: 350px;
  }

  .newsletterTexto_home h6{
    font-size: 20px;
    margin-bottom: 1rem;
  }

  .newsletterTextoInput_home{
    font-size: 12.5px;
  }

  .newsletterTextoBoton_home{
    width: 35%;
    font-size: 10px;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
  }

  .newsletterTexto_home p{
    font-size: 10px;
  }
}

@media screen and (max-width: 769px){
  .reto_home h3{
    font-size: 20px;
  }

  .descripcion_retoHome p{
    font-size: 10px;
  }

  .fondoBonito_home{
    position: relative;
    overflow: hidden;
  }

  .fondoBonitoLetras_home{
    position: absolute;
    background: transparent;
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .fondoBonitoLetras_home h2{
    color: #E3FF68;
    margin: 2rem;
    font-size: 65px;
  }

  .fondoBonitoImg_home{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    filter: brightness(0.5);
  }

  .fondoBonitoImg_home img{
    max-height: none;
  }

  .producto_home{
    gap: 50px;
  }

  .contenerdorImg_home,
  .texto_logo{
    height: 300px;
    width: 150px;
  }

  .producto_home h5 {
    font-size: 25px;
  }

  .contenerdorTexto_home{
    width: 150px;
  }

  .newsletter_home{
    flex-direction: column;
    height: 100%;
    align-items: baseline;
    padding: 2rem;
  }

  .newsletterImgContainer_home{
    height: 50vh;
  }

  .newsletterTexto_home{
    max-width: 100%;
    width: 100%;
    align-items: baseline;
  }

  .newsletterTextoTitulo_home{
    text-align: left;
  }

  .newsletterTexto_home h6{
    font-size: 15px;
    margin-bottom: 3rem;
  }

  .newsletterTextoInput_home{
    font-size: 12.5px;
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0;
  }

  .newsletterTextoBoton_home{
    width: 100%;
  }
}


@media screen and (max-width: 500px){
  .imagen_principal h1{
    font-size: 65px;
  }

  .reto_home{
    padding: 1rem 1.5rem;
  }

  .reto_home h3{
    font-size: 20px;
  }

  .descripcion_retoHome img {
    height: 30px;
  }

  .retoBoton_home{
    bottom: -1rem;
    padding: 0.75rem 1rem;
    font-size: 10px;
  }

  .fondoBonito_home{
    height: 100vh;
  }

  .fondoBonitoImg_home img{
    height: 100%;
  }

  .fondoBonitoLetras_home h2{
    font-size: 45px;
  }

  .producto_home{
    flex-direction: column;
  }

  .contenerdorImg_home,
  .texto_logo{
    height: 200px;
    width: 200px;
  }

  .contenerdorTexto_home{
    width: 250px;
    height: 100px;
    align-items: center;
  }

  .producto_home h5 {
    font-size: 30px;
  }


  .texto_logo img{
    width: 200px;
    height: 200px;
  }

  .texto_logo h2 {
    font-size: 20px;
  }

  .texto_logo p {
    font-size: 10px;
  }

}
