<div id="entrenamiento">
  <h1 class="nav_false">Mis actividades</h1>
  <div class="main-content">
    <div class="entrenamiento" (click)="mostrarActividad()">
      <h3>Entrenamiento Monte Gordo</h3>
      <p>19/10/2025</p>
      <h1>10KM</h1>
    </div>
    <div class="entrenamiento">
      <h3>Ruta Parque Miraflores</h3>
      <p>25/10/2025</p>
      <h1>8,5KM</h1>
    </div>
    <div class="entrenamiento">
      <h3>Entrenamiento tranquilo</h3>
      <p>20/03/2025</p>
      <h1>7KM</h1>
    </div>
    <div class="entrenamiento">
      <h3>Carrera nocturna matutina</h3>
      <p>19/12/2025</p>
      <h1>12KM</h1>
    </div>
  </div>
</div>


