.valoracion{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(253, 234, 227, 0.51);
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  width: 350px;
  max-width: 500px;
  max-height: 500px;
}

.nombre-cafeteria{
  font-weight: 600;
  font-size: large;
}

.titulo{
  font-weight: 500;
  font-size: 15px;
  color: var(--color-primario-marron);
  margin: 0;
}

.descripcion{
  font-size: 12.5px;
}

.valoracion>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
}

