.valoracion{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #E6E6E6;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  width: 350px;
}

.nombre-cafeteria{
  font-weight: 600;
  font-size: large;
}

.titulo{
  font-weight: 700;
  font-size: small;
  color: var(--color-primario-marron);
  margin: 0;
}

.valoracion>div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 20px;
  font-weight: 900;
}

