.contenedor-valoracion {
  display: flex;
  flex-direction: row;
}

.estrella {
  position: relative;
  font-size: 2.25rem;
  color: gray;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.estrella-fondo {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-secundario-marron);
  z-index: 1;
}

.estrella-delantera {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-primario-marron);
  overflow: hidden;
  z-index: 2;
  white-space: nowrap;
  width: 0%;
  transition: width 0.1s ease;
}
