<app-navbar></app-navbar>
<div id="contenedor-cafeteria-productos">
  <a id="volver" routerLink='/app'><img class="flecha" src="./assets/icon/icon-flecha-izquierda.png" alt=""> Volver</a>
  <div class="div-imagen-cafeteria">
    @if (datos){
      <img [src] = [datos.imagen] alt="Imagen de Cafeteria">
    }
  </div>
  <div class="main">
    <h3 id="h3-nombre-cafeteria">{{datos?.nombre}}</h3>
    <div class="div-buscador-filtro">
      <div id="buscador">
        <img src="./assets/icon/icon-lupa.png" alt="Lupa">
        <input type="text" placeholder="Buscar...">
      </div>
      <div>
        Filtros
      </div>
    </div>
    <div class="contenedor-productos">
      @for (producto of datos?.productos; track producto.id) {
        <app-card-producto [producto]="producto"></app-card-producto>
      }
    </div>
  </div>
</div>
<app-footer></app-footer>
