*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-secundario-negro);
}

.flecha{
  width: 7px;
}

#contenedor-cafeteria-productos{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

#volver{
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.div-imagen-cafeteria{
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-imagen-cafeteria > img{
  width: 100%;
  height: auto;
}

.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#h3-nombre-cafeteria{
  width: 100%;
  text-align: left;
  color: var(--color-primario-marron);
  font-weight: 400;
  font-size: xx-large;
}

.div-buscador-filtro{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#buscador{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--color-secundario-marron);
}

#buscador>img{
  width: 20px;
}

#buscador>input{
  border: none;
  color: white;
  background-color: transparent;
  outline: none;
  font-weight: 600;
  width: 80%;
}

#buscador>input::placeholder{
  color: white;
}

#contenedor-categorias{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.categoria{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.categoria-encabezado{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

.categoria-cuerpo{
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.categoria-cuerpo.abierto {
  display: flex;
}

.contenedor-productos{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.contenedor-productos>div{
  max-width: 300px;
}
