*{
  box-sizing: border-box;
  margin: 0;
}

:host{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}

.navbar-loged{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
  background-color: white;
  padding: 0.5rem 1rem;
}

.btn-nav{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-nav img{
  width: 25px;
  align-self: center;
  justify-self: center;
}

.carrito{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#a-perfil{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

#a-perfil>img{
  width: 100%;
}

.skeleton-circular{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 3s infinite;
}

@keyframes shimmer {
  0% { background-position: -50px 0; }
  100% { background-position: 50px 0; }
}

.carritoContent{
  background-color: white;
  max-width: 800px;
  width: 100%;
  overflow: auto;
  text-align: center;
  padding: 1rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.contenedor-productos-carrito{
  max-height: 50dvh;
  overflow: auto;
  padding: 1rem 0;
}

#btn-realizar-pago{
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--color-secundario-negro);
  background-color: var(--color-fosforito);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

#btn-realizar-pago:hover{
  background-color: #dfff4b;
}

.cerrarCarrito{
  display: flex;
  justify-content: end;
  align-items: center;
}

.cerrarCarrito img{
  width: 20px !important;
  background-color: lightgray;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s background-color ease;
}

.cerrarCarrito img:hover{
  background-color: #c8c8c8;
}

.cerrarCarrito img:active{
  background-color: #969696;
}

.carritoContent h3,
.carritoContent p,
.contenedorDescuento{
  margin-bottom: 20px;
}

.carritoContent img{
  width: 100px;
}

.carritoContent h3{
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.carritoContent p{
  font-family: "Inter", sans-serif;
  font-size: 17.5px;
}

.contenedorDescuento{
  display: flex;
  background-color: #E3FF68;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.contenedorDescuento img{
  width: 25px;
  margin: 0;
}

.contenedorDescuento p{
  font-size: 12.5px;
  margin: 0;
  text-align: start;
}

.carrito-producto{
  width: 100%;
}

.btn-carrito{
  position: relative;
}

#cantidad-productos-carrito{
  position: absolute;
  top: 2px;
  right: 12px;
  font-size: small;
  background-color: var(--color-secundario-negro);
  color: var(--color-fosforito);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width: 450px){

  .cerrarCarrito img{
    width: 20px !important;
    margin-bottom: 0.75rem;
  }

  .carritoContent img{
    width: 60px;
  }

  .carritoContent h3{
    font-size: 25px;
  }

  .carritoContent p{
    font-size: 12.5px;
  }

  .contenedorDescuento {
    padding: 0.75rem;
  }

  .contenedorDescuento img{
    width: 20px;
  }

  .contenedorDescuento p {
    font-size: 10px;
    max-width: 200px;
  }
}
