*{
  box-sizing: border-box;
  margin: 0;
}

:host{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
}

.navbar-loged{
  width: 99vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between !important;
  background-color: white;
  padding: 0.25rem 1rem;
}

.btn-nav{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-nav img{
  width: 25px;
  align-self: center;
  justify-self: center;
}

.carrito{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.carritoContent{
  background-color: white;
  max-width: 400px;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.cerrarCarrito{
  display: flex;
  justify-content: end;
  align-items: center;
}

.cerrarCarrito img{
  width: 20px !important;
  background-color: lightgray;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s background-color ease;
}

.cerrarCarrito img:hover{
  background-color: #c8c8c8;
}

.cerrarCarrito img:active{
  background-color: #969696;
}


.carritoContent img,
.carritoContent h3,
.carritoContent p,
.contenedorDescuento{
  margin-bottom: 20px;
}

.carritoContent img{
  width: 100px;
}

.carritoContent h3{
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.carritoContent p{
  font-family: "Inter", sans-serif;
  font-size: 17.5px;
}

.contenedorDescuento{
  display: flex;
  background-color: #E3FF68;
  border-radius: 10px;
  padding: 0.75rem 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.contenedorDescuento img{
  width: 25px;
  margin: 0;
}

.contenedorDescuento p{
  font-size: 12.5px;
  margin: 0;
  text-align: end;
  max-width: 250px;
}

@media(max-width: 450px){

}
