*{
  box-sizing: border-box;
  margin: 0;
}

:host{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: white;
  padding: 0.25rem 1rem;
}

.btn-nav{
  border: none;
  background-color: transparent;
}

.btn-nav img{
  width: 25px;
  align-self: center;
  justify-self: center;
}
