*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:host{
  width: 100%;
}

.nav_false{
  display: none;
}

.main-content{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-secundario-negro);
  font-family: Montserrat, sans-serif;
  width: 100%;
  max-width: 1200px;
}

.main-content h3{
  margin-bottom: 0.3rem;
}

.entrenamiento-detalles{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.objetivo{
  padding: 0.5rem;
  border-radius: 10px;
  font-size: small;
  margin-bottom: 1rem;
  border: none;
  width: fit-content;
}

.objetivo.alcanzado{
  background-color: #E3FF68;
  color: #2D2D2D;
}

.objetivo.inalcanzado{
  background-color: #D2451E;
  color: white;
}

.stats{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.stats-linea{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}

.stats-linea>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.stats strong{
  color: rgb(115,75,89, 44%);
}

.stats div p{
  text-align: center;
  margin: 0.2rem 0 0 0;
  font-weight: bold;
  color: #734B59;
  font-size: large;
}

.contenedor-pedido-entrenamiento{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

.contenedor-pedido-entrenamiento div{
  flex: 1;
}

.pedido{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.pedido-nombre-estado{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.pedido-estado{
  font-size: small;
  padding: 0.5rem;
  border-radius: 10px;
  text-transform: capitalize;
}

.pedido-estado.completado{
  background-color: var(--color-fosforito);
  color: var(--color-secundario-negro);
}

.pedido-estado.cancelado{
  background-color: #D2451E;
  color: white;
}

h4{
  margin-bottom: 0.2rem;
  color: #734B59;
  font-size: 1.5rem;
}


.pedido ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.li-lineapedido{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(115, 75, 89, 0.11);
  border-radius: 10px;
}

.lineapedido-div-imagen{
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  overflow: hidden;
  border-radius: 10px;
}

.lineapedido-div-imagen img{
  width: auto;
  height: 100%;
}

.lineapedido-datos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

.lineapedido-nombre-producto{
  color: var(--color-primario-marron);
  font-weight: bold;
  margin: 0 !important;
}

.lineapedido-cantidad-precio{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.lineapedido-cantidad{
  font-size: small;
}

.lineapedido-precio{
  color: var(--color-primario-marron);
  font-weight: 700;
}

.total{
  margin-top: 0.5rem;
  color: var(--color-primario-marron);
  align-self: flex-end;
  font-weight: bold;
}

.total span{
  font-size: x-large;
}

.div-ubicacion-cafeteria{
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.contenedor-datos-entrenamiento{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}

.mapa{
  width: 100%;
}

@media screen and (max-width: 500px){
  .nav_false{
    display: flex;
    font-family: Montserrat, sans-serif;
    color: #313132;
    font-weight: normal;
    justify-content: center;
  }
  .main-content{
    grid-template-columns: 1fr;
  }
}

.skeleton{
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

.skeleton.nombre{
  width: 320px;
  height: 120px;
}

.skeleton.datos{
  width: 100%;
  height: 200px;
}

.skeleton.pedido{
  width: 100%;
  height: 300px;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}

#contenedor-valoracion{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(80, 80, 80, 0.24);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#div-valoracion{
  max-width: 700px;
  margin: 3rem 1rem;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: large;
}
#div-valoracion h2{
  font-family: "Montserrat", sans-serif;
  text-align: center;
  max-width: 400px;
}

#div-valoracion h2 span{
  color: var(--color-primario-marron);
}

.btn-valoracion{
  width: 100%;
  background-color: var(--color-primario-marron);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: large;
  cursor: pointer;
}

.btn-valoracion:hover{
  background-color: #684451;
}
