<div id="entrenamiento">
  <h1 class="nav_false">Mis actividades</h1>
  <div class="main-content">
  <!-- Entrenamiento reciente -->
    @if (datosCargados) {
      <h3>{{datos.nombre}}</h3>
      <div class="entrenamiento-detalles">
        <p>{{transformarZona(datos.descripcion)}}</p>
        <p>{{transformarFecha(datos.fechaPedido)}}</p>
      </div>
      @if(datos.pedido.estado == "CANCELADO"){
        <button class="objetivo inalcanzado">Objetivo inalcanzado</button>
      } @else {
        <button class="objetivo alcanzado">Objetivo alcanzado</button>
      }

      <div class="contenedor-pedido-entrenamiento">
        <div class="pedido">
          @if (datos.pedido.estado == "APROBADO"){
            <h3>¡TU PEDIDO TE ESTÁ ESPERANDO!</h3>
            <p>Muestra este QR al dependiente cuando recogas tu pedido.</p>
            <app-qr-pedido (deslizado)="confirmarRecogida()" [idPedido]="datos.pedido.id"></app-qr-pedido>

          }
          <div class="pedido-nombre-estado">
            <h4>Mi pedido</h4>
            @if (datos.pedido.estado == "CANCELADO") {
              <p class="pedido-estado cancelado">{{datos.pedido.estado.toLowerCase()}} y reembolsado</p>
            } @else {
              <p class="pedido-estado completado">{{datos.pedido.estado.toLowerCase()}}</p>
            }
          </div>

          <p>{{datos.lineasPedido[0].producto.cafeteria.nombre}}</p>
          <ul>
            @for (lineaPedido of datos.lineasPedido; track lineaPedido.id) {
              <li class="li-lineapedido">
                <div class="lineapedido-div-imagen">
                  <img [src]="lineaPedido.producto.imagen">
                </div>
                <div class="lineapedido-datos">
                  <p class="lineapedido-nombre-producto">{{lineaPedido.producto.nombre}}</p>
                  <div class="lineapedido-cantidad-precio">
                    <p class="lineapedido-cantidad">Cant: {{lineaPedido.cantidadProducto}}</p>
                    <p class="lineapedido-precio">{{lineaPedido.producto.precio | number:'1.2-2' }}€/u</p>
                  </div>
                </div>
            }

          </ul>
          <p class="total">Total: <span>{{ datos.pedido.precioTotal | number:'1.2-2' }}€</span></p>
          <div class="div-ubicacion-cafeteria">
            <p>Ubicación de cafetería:</p>
            <app-mapa-cafeteria [lat]="datos.lineasPedido[0].producto.cafeteria.lat" [lng]="datos.lineasPedido[0].producto.cafeteria.lng"></app-mapa-cafeteria>
          </div>
        </div>
          <div class="contenedor-datos-entrenamiento">
            <h4>Mi entrenamiento</h4>
            <div class="stats">
              <div class="stats-linea">
                <div><strong>Distancia</strong><p>{{datos.stravaKm | number:'1.2-2' }} km</p></div>
                <div><strong>Tiempo</strong><p>{{transformarAMinutos(datos.stravaTiempo)}} min</p></div>
                <div><strong>Ritmo</strong><p>{{transformarARitmo(datos.stravaTiempo,datos.stravaKm)}} /km</p></div>
              </div>
              <div class="stats-linea">
                <div><strong>Distancia objetivo</strong><p>{{datos.kmObjetivo | number:'1.2-2' }} km</p></div>
                <div><strong>Tiempo objetivo</strong><p>{{transformarAMinutos(datos.tiempoObjetivo)}} min</p></div>
              </div>
            </div>
            <div class="mapa">
              <app-mapa-entrenamiento [encodedPolyline]="datos.urlMapa"></app-mapa-entrenamiento>
            </div>
          </div>
      </div>
    } @else {
      <div class="skeleton nombre"></div>
      <div class="skeleton datos"></div>
      <div class="skeleton pedido"></div>
    }

  </div>
</div>

@if (datosCargados) {
  @if (popUpValoracionEstado) {
    <div id="contenedor-valoracion">
      <div id="div-valoracion">
        <h2>Cuéntanos cómo fue tu experiencia en <span>{{datos.lineasPedido[0].producto.cafeteria.nombre}}</span></h2>
        <div class="div-preguntas">
          <div class="pregunta-respuesta">
            <p>¿Qué opinas de la cafetería?</p>
            <input [(ngModel)]="tituloValoracion" type="text" placeholder="¡Todo delicioso!">
          </div>
          <div class="pregunta-respuesta">
            <p>Cuéntanos como te fue en el entrenamiento y en la cafetería:</p>
            <textarea [(ngModel)]="descripcionValoracion" cols="30" rows="7" placeholder="Fue un entrenamiento muy duro pero al llegar a la cafetería..."></textarea>
          </div>
          <div class="pregunta-respuesta">
            <p>Puntuación cafetería</p>
            <app-valoracion-rating (cambioValor)="setPuntuacionValoracion($event)"></app-valoracion-rating>
          </div>
        </div>
        <button class="btn-valoracion" (click)="enviarValoracion()">Enviar valoracion</button>
      </div>
    </div>
  }
}
@if (mostrarMensajesEstado) {
  <div id="mensajes-popup">
    <p>{{textoMensajes}}</p>
  </div>
}
