.footer{
  background-color: #E3FF68;
  color: black;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  width: 100%;
}

.footer p{
  font-size: 12.5px;
}

.footer_content{
  max-width: 1800px;
  margin: 0 auto;
}

.footer_inicio{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.footer_titulo h1{
  font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  margin: 0;
}

.footer_final{
  text-align: start;
  padding: 1px;

}

@media screen and (max-width: 800px){
  .footer_titulo h1{
    font-size: 100px;
  }
}

@media screen and (max-width: 500px){
  .footer_titulo h1{
    font-size: 50px;
  }
}

