*{
  font-family: "Inter", sans-serif;
  margin: 0;
}

.card-reto{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-secundario-negro);
  color: whitesmoke;
  width: 300px;
  border-radius: 10px;
  padding: 1rem;
}

.card-reto>div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

h3{
  font-family: 'Montserrat', sans-serif;
}



.requisitos-reto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn-realizar{
  background-color: var(--color-fosforito);
  color: var(--color-secundario-negro);
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 0.75rem;
  cursor: pointer;
  font-weight: bold;
}

.btn-realizar:hover{
  background-color: #cbe364;
}
