*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:host{
  width: 100%;
}

.entrenamientos{
  width: 100%;
}

.nav-falso{
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.main-content{
  margin:1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 1.5rem;
}

.skeleton-entrenamiento{
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  height: 180px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}


@media screen and (max-width: 500px){
  .main-content{
    display: grid;
    grid-template-columns: 6fr;
  }
  .main-content div h3{
    font-size: 1rem !important;
  }
}
