*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:host{
  width: 100%;
}

.entrenamientos{
  width: 100%;
}

.nav-falso{
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.main-content{
  margin:1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 1.5rem;
}

@media screen and (max-width: 500px){
  .main-content{
    display: grid;
    grid-template-columns: 6fr;
  }
  .main-content div h3{
    font-size: 1rem !important;
  }
}
