*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:host{
  width: 100%;
}

.entrenamientos{
  width: 100%;
}

.nav-falso{
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.main-content{
  margin:1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 1.5rem;
}

.skeleton-entrenamiento{
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  height: 180px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

#mensajes-popup{
  position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#mensajes-popup>p{
  padding: 2rem;
  min-width: 200px;
  max-width: 400px;
  background-color: var(--color-fosforito);
  color: var(--color-secundario-negro);
  border-radius: 10px;
  margin: 1rem;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}


@media screen and (max-width: 500px){
  .main-content{
    display: grid;
    grid-template-columns: 6fr;
  }
  .main-content div h3{
    font-size: 1rem !important;
  }
}
