<div id="entrenamiento">
  <h2 class="nav-falso">Mis entrenamientos</h2>
  <div class="main-content">
    @if (entrenamientosCargados) {
      @for (entrenamiento of entrenamientos; track entrenamiento.id){
        <app-entrenamiento-card (cuponGenerado)="cuponGeneradoEntrenamiento()" [datos] = "entrenamiento" (errores)="mostrarMensajes($event)">
        </app-entrenamiento-card>
      }
    } @else{
      <div class="skeleton-entrenamiento"></div>
      <div class="skeleton-entrenamiento"></div>
      <div class="skeleton-entrenamiento"></div>
      <div class="skeleton-entrenamiento"></div>
    }
  </div>
</div>

@if (mostrarMensajesEstado) {
  <div id="mensajes-popup">
    <p>{{textoMensajes}}</p>
  </div>
}
