*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.nav_false{
  display: none;
}

.main-content{
  margin:1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: flex-start;
  gap: 1.5rem;
}

@media screen and (max-width: 500px){
  .nav_false{
    display: flex;
    font-family: Montserrat, sans-serif;
    color: #313132;
    font-weight: normal;
    justify-content: center;
  }
  .main-content{
    display: grid;
    grid-template-columns: 6fr;
  }
  .main-content div h3{
    font-size: 1rem !important;
  }
}
