#header{
  background: linear-gradient(to left, #C9E8F8 5%, #597684 100%);
  display: flex;
  align-items: center;
  padding: 2rem;
  font-size: 1rem;
  justify-content: center;
}

.main-content{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 75%;
  gap: 2rem;
}

.div-img-perfil img{
  border-radius: 50%;
  border: 4px solid #C9E8F8;
}

.info_usuario{
  color: rgba(255, 255, 255, 0.7);
  line-height: 0.5rem;
  font-family: Inter, serif;
}

.info_usuario h2{
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.objetivos{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
