*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1rem;
  overflow: hidden;
}

.header-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.header-bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-bg .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(201, 232, 248, 0.8) 2%, rgba(89, 118, 132) 75%);
}

.main-content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 75%;
  gap: 2rem;
  z-index: 1;
}

.div-img-perfil img{
  border-radius: 50%;
  border: 4px solid #C9E8F8;
  height: 8rem;
}

.info_usuario{
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter, serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.info_usuario h2{
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: normal;
  font-size: 2.5rem;
}

.objetivos{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.skeleton-perfil-imagen{
  width: 8rem;
  height: 8rem;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 50%;
}

.skeleton-perfil-horizontal {
  width: 180px;
  height: 30px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

@media screen and (max-width: 500px){
  #header{
    display: none;
  }
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}
