<div id="header">
  <div class="main-content">
    <div class="div-img-perfil">
      <img src="/assets/images/foto_perfil.png" alt="foto_perfil_usuario">
      <!-- <img [src]="usuario.img" alt="foto_perfil_usuario"> -->
    </div>
    <div class="info_usuario">
      <h2>María Arteaga</h2>
      <p>marteagaramos&#64;safareyes.es</p>
      <div class="objetivos">
        <h4>Racha de objetivos: 5</h4>
        <img src="/assets/images/Fire.png" alt="icono_fuego" style="height: 1.5rem;">
      </div>
    </div>
  </div>
</div>
