#header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1rem;
  overflow: hidden;
}

.header-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.header-bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-bg .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(201, 232, 248, 0.8) 5%, rgba(89, 118, 132, 0.8) 75%);
}

.main-content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 75%;
  gap: 2rem;
  z-index: 1;
}

.div-img-perfil img{
  border-radius: 50%;
  border: 4px solid #C9E8F8;
  height: 11rem;
}

.info_usuario{
  color: rgba(255, 255, 255, 0.7);
  line-height: 0.5rem;
  font-family: Inter, serif;
}

.info_usuario h2{
  font-family: Montserrat, sans-serif;
  color: white;
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.objetivos{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 500px){
  #header{
    display: none;
  }
}
