.nav_false{
  display: none;
}

.main-content{
  margin:2rem;
  display: grid;
  grid-template-columns:1fr;
  gap: 1rem;
  color: #313132;
  font-family: Montserrat, sans-serif;
}

.main-content h3{
  margin-bottom: 0.3rem;
}

.main-content p{
  font-family: Inter, serif;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.objetivo{
  display: inline-block;
  background-color: #E3FF68;
  color: #2D2D2D;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  width: 15%;
}

.stats{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
}

.stats div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats strong{
  color: rgb(115,75,89, 44%);
}

.stats div p{
  text-align: center;
  margin: 0.2rem 0 0 0;
  font-weight: bold;
  color: #734B59;
  font-size: 2rem;
}

.mapa img{
  width: 100%;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.pedido h4{
  margin-bottom: 0.2rem;
  color: #734B59;
  font-size: 1.5rem;
}

.pedido ul{
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.pedido ul li{
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;
  background-color: rgb(115,75,89, 11%);
}

.total{
  font-weight: bold;
  text-align: right;
  margin-top: 0.5rem;
}

@media screen and (max-width: 500px){
  .nav_false{
    display: flex;
    font-family: Montserrat, sans-serif;
    color: #313132;
    font-weight: normal;
    justify-content: center;
  }
  .main-content{
    grid-template-columns: 1fr;
  }
}
