.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: flex-start;
}

.container.navbar-activo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

#contenedor-navbarperfil{
  background-color: white;
  width: 100%;
}

section{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#btn-mostrar-navbar{
  display: none;
  border: none;
  background-color: transparent;
}

#btn-mostrar-navbar img{
  height: 20px;
}

@media screen and (max-width: 500px){
  #contenedor-navbarperfil{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
  }

  #btn-mostrar-navbar{
    display: flex;
  }
}
