#contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
  padding: 1rem;
  width: 100%;
}

.nav-falso{
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.div-perfil{
  position: relative;
  width: fit-content;
  height: fit-content;
}

.div-foto-perfil{
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

#foto-perfil{
  width: 100%;
}

#p-editar{
  position: absolute;
  bottom: -10px;
  right: 0;
  background-color: #4B4B4C;
  z-index: 1;
  color: whitesmoke;
  padding: 5px;
}

input{
  background-color: #e7e7e7;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: large;
}

.div-inputs>div>p{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}

@media screen and (max-width: 500px){
  .nav-falso{
    display: flex;
  }
}
