#contenedor{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
  padding: 1rem;
  width: 100%;
  color: #2D2D2D;
}

.nav-falso{
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.div-perfil{
  position: relative;
  width: fit-content;
  height: fit-content;
}

.div-foto-perfil{
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

#foto-perfil{
  width: 100%;
}

input{
  background-color: rgb(253, 234, 227, 0.51);
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: large;
  width: 80%;
  color: #8C8C8C;
}

.div-inputs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  column-gap: 1rem;
}

.div-inputs>div>p{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}

.skeleton-inp{
  width: 100%;
  max-width: 600px;
  height: 45px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}


@media screen and (max-width: 500px){
  .nav-falso{
    display: flex;
    justify-content: center;
  }
  .div-inputs{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  input{
    width: 100%;
  }
}
