*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host{
  width: 100%;
}

#contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  font-family: "Inter", sans-serif;
  width: 100%;
  color: #2D2D2D;
}

.nav-falso{
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

input{
  background-color: var(--color-secundario-rosa);
  border: none;
  padding: 0.8rem;
  border-radius: 10px;
  font-size: large;
  width: 80%;
  color: var(--color-secundario-negro);
}

.div-inputs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  width: 100%;
  column-gap: 1rem;
}

.div-inputs div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.div-inputs>div>p{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}

.skeleton-inp{
  width: 100%;
  max-width: 600px;
  min-width: 250px;
  height: 45px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}


@media screen and (max-width: 500px){
  .div-inputs{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
  input{
    width: 100%;
  }
}
