#contenedor{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
  padding: 1rem;
  width: 100%;
  color: #2D2D2D;
}

.nav-falso{
  width: 100%;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.div-perfil{
  position: relative;
  width: fit-content;
  height: fit-content;
}

.div-foto-perfil{
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
}

#foto-perfil{
  width: 100%;
}

input{
  background-color: #FDEAE3;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: large;
  width: 80%;
}

.div-inputs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  column-gap: 1rem;
}

.div-inputs>div>p{
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
}

@media screen and (max-width: 500px){
  .nav-falso{
    display: flex;
    justify-content: center;
  }
  .div-inputs{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  input{
    width: 100%;
  }
}
