<div id="contenedor">
  <div class="nav-falso">
    <img src="" alt="">
    <p>Datos de usuario</p>
  </div>
  <div class="div-inputs">
    <div>
      <p>Nombre</p>
      <input type="text" placeholder="María" disabled>
    </div>
    <div>
      <p>Apellidos</p>
      <input type="text" placeholder="Arteaga Ramos" disabled>
    </div>
    <div>
      <p>Correo</p>
      <input type="text" placeholder="marteagaramos@safareyes.es" disabled>
    </div>
    <div>
      <p>Ciudad</p>
      <input type="text" placeholder="Sevilla" disabled>
    </div>
    <div>
      <p>País</p>
      <input type="text" placeholder="España" disabled>
    </div>
    <div>
      <p>Sexo</p>
      <input type="text" placeholder="Femenino" disabled>
    </div>
  </div>
</div>
