<div id="contenedor">
  <div class="nav-falso">
    <p>Datos de usuario</p>
  </div>

  @if (datosUsuario) {
    <div class="div-inputs">
      <div>
        <p>Nombre</p>
        <input type="text" [value]="datosUsuario.nombre" disabled>
      </div>

      <div>
        <p>Apellidos</p>
        <input type="text" [value]="datosUsuario.apellidos" disabled>
      </div>

      <div>
        <p>Correo</p>
        <input type="text" [value]="datosUsuario.correo" disabled>
      </div>

      <div>
        <p>Ciudad</p>
        <input type="text" [value]="datosUsuario.ciudad" disabled>
      </div>

      <div>
        <p>País</p>
        <input type="text" [value]="datosUsuario.pais" disabled>
      </div>

      <div>
        <p>Sexo</p>
        <input
          type="text"
          [value]="datosUsuario.sexo === 'F' ? 'Femenino' : 'Masculino'"
          disabled>
      </div>
    </div>
  }
</div>
