*{
  font-family: Inter, serif;
}

body{

}

.contenedor-form{
  max-width: 25rem;
  border-radius: 1rem;
  margin: auto;
  padding: 2rem 1rem;
  background: rgb(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor-form h2{
  font-family: Montserrat, serif;
  font-weight: normal;
  font-size: 2rem;
  margin-top: 0;
}

.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

.formulario input{
  padding: 1rem;
  width: 18rem;
  border-radius: 0.8rem;
  border: none;
}

.btn-inciar-sesion{
  border: none;
  background-color: #E3FF68;
  font-weight: bold;
  padding: 0.8rem;
  border-radius: 0.8rem;
  width: 100%;
}
