*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.enlaces{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.enlaces a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.titulo{
  text-align: center;
  background-color: var(--color-secundario-negro);
  color: var(--color-fosforito);
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.cards{
  display:flex;
  min-height: 90vh;
  width:100%;
  max-width: 100%;
  overflow: hidden;
  align-items:stretch;
}


.card{
  writing-mode: vertical-lr;
  flex:1 1 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color: white;
  min-width:120px;
  transition:transform .28s ease, box-shadow .28s ease;
  user-select:none;
  cursor:pointer;
  border: 1px solid rgba(58, 58, 58, 0.24);
}
.card:focus-within, .card:hover{
  transform:translateY(-6px); box-shadow:0 18px 30px rgba(2,6,23,0.35);
}


.card h2{
  margin:0 0 8px;
  font-weight:bold;
  font-size: xxx-large;
  font-family: 'Montserrat', sans-serif;
  /*text-shadow: #2D2D2D 1px 1px 5px;*/
}
.card p{
  margin:0 0 14px;
  opacity:.95
}
.card .cta{
  appearance:none;
  border:0;padding:8px 14px;
  border-radius:10px;
  background:rgba(255,255,255,0.12);
  color:inherit;
  cursor:pointer
}
.card .cta:focus{
  outline:2px solid rgba(255,255,255,0.18)
}


.c1,.c2,.c3,.c4,.c5{
  /*background:linear-gradient(135deg,#C9E8F8,#E3FF68);*/
  background-color: var(--color-fosforito);
  color: var(--color-secundario-negro);
}




@media (max-width:599px){
  .cards{flex-direction:column}
  .card{
    width:100%;
    writing-mode: horizontal-tb;
  }
}



@media (min-width:600px){
  .cards{flex-direction:row}
}

@media (max-width:420px){
  .card h2{font-size: x-large}
  .card p{font-size:.85rem}
}
