@if(datos!=null){
  @if (datos.tipo == "PRODUCTO") {
    <div class="cupon regalo" [ngClass]="datos.usado ? 'usado' : ''" >
      <div class="div-regalo-imagen-descripcion">
        <div class="div-imagen-regalo">
          <img [src]="datos.imagen" alt="cupon-regalo">
        </div>
        <div class="descripcion-validez">
          <p>{{datos.descripcion}}</p>
          <p class="validez-cupon">Válido hasta {{datos.fechaCaducidad | date:'dd/MM/yyyy'}}</p>
        </div>
      </div>
      <div class="div-nombre-cupon">
        <p class="nombre-cupon">{{datos.nombre}}</p>
        <button class="btn-copiar" (click)="copiarAlPortapapeles(datos.nombre)">
          <img src="./assets/icon/icon_copiar.png" alt="">
          @if (copiadoEstado) {
            <p class="texto-copiado">Código copiado</p>
          }
        </button>
      </div>
    </div>
  } @else {
    <div class="cupon" [ngClass]="datos.usado ? 'usado' : ''">
      <p class="p-porcentaje"><span class="porcentaje">{{datos.porcentaje}}%</span> DE DESCUENTO.</p>
      <p class="validez-cupon">Válido hasta {{datos.fechaCaducidad | date:'dd/MM/yyyy'}}</p>
      <div class="div-nombre-cupon">
        <p class="nombre-cupon">{{datos.nombre}}</p>
        @if (!datos.usado) {
          <button class="btn-copiar" (click)="copiarAlPortapapeles(datos.nombre)">
            <img src="./assets/icon/icon_copiar.png" alt="">
            @if (copiadoEstado) {
              <p class="texto-copiado">Código copiado</p>
            }
          </button>
        }
      </div>
    </div>
  }
}
