<div id="navbarperfil">
  <div class="main-content">
    <!-- Barra de navegación lateral -->
    <aside class="sidebar">
      <ul>
        <li routerLink="datos" routerLinkActive="active">Datos de usuario</li>
        <li routerLink="actividades" routerLinkActive="active">Mis actividades</li>
        <li routerLink="contrasena" routerLinkActive="active">Contraseña</li>
        <li routerLink="notificaciones" routerLinkActive="active">Notificaciones</li>
        <li routerLink="valoraciones" routerLinkActive="active">Valoraciones</li>
        <li routerLink="ayuda" routerLinkActive="active">Ayuda</li>
      </ul>
    </aside>

  </div>
</div>
