<div id="navbarperfil">
  <!-- Barra de navegación lateral -->
  <aside class="sidebar" [class.open]="isMobile && isNavbarOpen">
    <!-- Botón hamburguesa solo en móvil -->
    @if (isMobile) {
      <button class="hamburger" (click)="toggleNavbar()">☰</button>
    }

    <!-- Overlay semitransparente -->
    @if (isMobile && isNavbarOpen) {
      <div class="overlay" (click)="closeNavbar()"></div>
    }

    <h1>Cuenta</h1>
    <ul>
      <li (click)="navigate('datos')" routerLinkActive="active">
        <img class="icono" src="./assets/icon/icon_usuario.png" alt="icono_usuario" height="48" width="48">
        Datos de usuario
      </li>
      <li (click)="navigate('actividades')" routerLinkActive="active">
        <img class="icono" src="./assets/icon/icon_running.png" alt="icono_running" height="50" width="50">
        Mis entrenamientos
      </li>
      <li (click)="navigate('cupones')" routerLinkActive="active">
        <img class="icono" src="./assets/icon/icon_running.png" alt="icono_running" height="50" width="50">
        Mis cupones
      </li>
      <li (click)="navigate('contrasena')" routerLinkActive="active">
        <img class="icono" src="./assets/icon/icon_candado.png" alt="icono_candado" height="32" width="32">
        Contraseña
      </li>
      <li (click)="navigate('notificaciones')" routerLinkActive="active">
        <img class="icono" src="./assets/icon/icon_campana.png" alt="icono_campana" height="48" width="48">
        Notificaciones
      </li>
    </ul>

    <h1>Más</h1>
    <ul>
      <li (click)="navigate('valoraciones')" routerLinkActive="active">
        <img class="icono" src="./assets/icon/icon_estrella.png" alt="icono_estrella" height="48" width="48">
        Mis valoraciones
      </li>
      <li (click)="navigate('ayuda')" routerLinkActive="active">
        <img class="icono" src="./assets/icon/icon_ayuda.png" alt="icono_interrogacion" height="48" width="48">
        Ayuda
      </li>
    </ul>
  </aside>
</div>
