#navbarperfil{
  color: #2D2D2D;
}

.sidebar{
  margin: 1.5rem;
}

.sidebar h1{
  font-family: Montserrat, sans-serif !important;
  margin: 0;
  font-weight: 550;
  font-size: 2rem;
}

.sidebar ul{
  padding: 0;
  margin-left: 1rem;
}

.sidebar ul li{
  list-style: none;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  line-height: 2.5rem;
}

.sidebar li:hover {
  background-color: rgba(201, 232, 248, 0.3);
}

.sidebar li.active {
  background-color: rgba(201, 232, 248, 0.6);
}

.icono{
  height: 2rem;
  width: 2rem;
}

@media screen and (max-width: 500px){
  .sidebar{
    display: none;
  }
}
