*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--color-secundario-negro);
}

:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.nav-falso{
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h3{
  margin-bottom: 1rem;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

section{
  background-color: var(--color-secundario-rosa);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
