*{
  margin: 0;
  box-sizing: border-box;
}

:host>div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
}

.cabecera-entrenamiento{
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  padding: 1rem;
}

.cabecera-entrenamiento img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  filter: opacity(0.7) blur(1px)
}

.enlace-nodecoration{
  text-decoration: none;
}

.ultimo-entrenamiento{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(245, 245, 245, 0.78);
  border-radius: 10px;
  color: var(--color-secundario-negro);
  max-width: 700px;
  min-height: 150px;
  cursor: pointer;
}

.contenedor-retos{
  margin: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cards-retos{
  width: 100%;
  overflow: hidden;
}

.contenedor-card-reto{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
  overflow-y: hidden;
  padding: 2rem 1rem;
}

h3{
  font-family: 'Montserrat', sans-serif;
}

#btn-crear-objetivo{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  font-size: 50px;
  border: none;
  border-radius: 50%;
  color: var(--color-secundario-negro);
  background-color: var(--color-fosforito);
  cursor: pointer;
}

#btn-cerrar-popup{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  color: whitesmoke;
  font-size: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#popup-objetivo{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(89, 89, 89, 0.58);
}

.contenedor-popup{
  position: relative;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 1.5rem;
}

.div-popup-img{
  overflow: hidden;
  width: 100%;
  height: 220px;
}

.div-popup-img img{
  width: 100%;
  position: relative;
  top: -100px;
}

.div-form-objetivo{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.div-form-objetivo button{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: none;
  background-color: var(--color-fosforito);
  color: var(--color-secundario-negro);
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.75rem;
}

.inputs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.inputs p{
  font-size: small;
}

.inputs input{
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  padding: 10px;
  background-color: #e6e6e6;
  outline: none;
  border: none;
  width: 100%;
}

.skeleton {
  width: 300px;
  min-width: 300px;
  height: 200px;
  min-height: 200px ;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  animation: shimmer 1.5s infinite;
  border-radius: 10px;
}

@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}

#mensajes-popup{
  position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#mensajes-popup>p{
  padding: 2rem;
  min-width: 200px;
  max-width: 400px;
  background-color: var(--color-fosforito);
  color: var(--color-secundario-negro);
  border-radius: 10px;
  margin: 1rem;
}
