<div class="nav-falso">
  <img src="" alt="<">
  <p>Mis valoraciones</p>
</div>

<div class="contenedor-valoraciones">
  <div class="contenedor-valoraciones">
    <app-valoracion-card *ngFor="let valoracion of valoraciones"
                         [nombreCafeteria]="valoracion.nombreCafeteria"
                         [titulo]="valoracion.titulo"
                         [descripcion]="valoracion.descripcion"
                         [cantidad]="valoracion.cantidad">
    </app-valoracion-card>
  </div>
</div>


