body{
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
}

:root {
  --color-fosforito: #E3FF68;
  --color-primario-marron: #734B59;
  --color-primario-celeste: #C9E8F8;
  --color-primario-rosa: #FDEAE3;

  --color-secundario-negro: #2D2D2D;
  --color-secundario-marron: rgba(115, 75, 89, 0.44);
  --color-secundario-rosa: rgba(253, 234, 227, 0.51);
  --color-secundario-blanco: #ABABAB;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.all-center{
  align-items: center;
  justify-content: center;
}

.gap05{
  gap: .5rem;
}

.gap1{
  gap: 1rem;
}

.gap2{
  gap: 2rem;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
}

.bagel{
  font-family: "Bagel Fat One", system-ui;
}

.inter{
  font-family: "Inter", sans-serif;
}
