*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host{
  width: 100%;
}

#notificaciones {
  margin-top: 2rem;
}

.main-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.nav-falso{
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.main-content h3 {
  font-family: "Inter", sans-serif;
  color: #2D2D2D;
  font-weight: 550;
}

.categorias{
  width: 100%;
}

.main-content ul li {
  width: 100%;
  list-style: none;
  font-family: Inter, serif;
  color: #8C8C8C;
  line-height: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos del toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right: 0.5rem;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #E3FF68;
}

input:checked + .slider::before {
  transform: translateX(26px);
}
