
/* TÍTULOS */
h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #2D2D2D;
  font-size: 32px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #C9E8F8;
  margin-top: 0;
  margin-bottom: 20px;
}


/* CONTENEDOR FORMULARIOS */
.contenedor-formulario {
  background: #3A3A3A;
  border-radius: 15px;
  padding: 25px;
  margin: 25px auto;
  max-width: 450px;
  border: 2px solid #4A4A4A;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}


/* GRUPOS DE INPUTS */
.grupo-formulario {
  margin-bottom: 18px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #E3FF68;
}


/* INPUTS */
input, select {
  width: 100%;
  padding: 10px;
  background: #2D2D2D;
  border: 2px solid #555;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  transition: 0.2s;
}

input:focus,
select:focus {
  border-color: #E3FF68;
  outline: none;
  background: #353535;
}


/* BOTONES DE ACCIÓN */
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-weight: 600;
  background: #C9E8F8;
  color: #2D2D2D;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease-out;
}

button:hover {
  background: #E3FF68;
  transform: translateY(-2px);
}
