*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.entrenamiento{
  width: 100%;
  min-width: 500px;
  max-width: 1200px;
  min-height: 150px;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.entrenamiento.completado{
  background-color: var(--color-secundario-rosa);
  justify-content: flex-start;
}

.entrenamiento.encurso{
  background-color: var(--color-fosforito);
  justify-content: space-between;
}

.nombre-entrenamiento{
  font-family: Montserrat, sans-serif;
}

.km{
  font-family: Montserrat, sans-serif;
  align-self: flex-end;
}

.nombre-entrenamiento.encurso{
  font-size: x-large;
}

.btn-finalizar-entrenamiento{
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  background-color: var(--color-secundario-negro);
  color: var(--color-fosforito);
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
