*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.entrenamiento{
  width: 100%;
  min-width: 300px;
  max-width: 900px;
  min-height: 180px;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.entrenamiento.completado{
  background-color: var(--color-secundario-rosa);
  justify-content: flex-start;
  cursor: pointer;
}

.entrenamiento.completado:hover{
  background-color: #f4dfd5;
}

.entrenamiento.encurso{
  background-color: var(--color-fosforito);
  justify-content: space-between;
}

.nombre-entrenamiento{
  font-family: Montserrat, sans-serif;
}

.fecha{
  color: var(--color-primario-marron);
  font-size: x-large;
}

.km{
  font-family: Montserrat, sans-serif;
  align-self: flex-end;
  font-weight: bold;
  font-size: xx-large;
  color: var(--color-primario-marron);
}

.nombre-entrenamiento.encurso{
  font-size: x-large;
}

.div-nombre-entrenamiento{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.btn-finalizar-entrenamiento{
  align-self: flex-end;
  border: none;
  border-radius: 10px;
  background-color: var(--color-secundario-negro);
  color: var(--color-fosforito);
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.flecha{
  width: 10px;
  height: auto;
}
