<!--------------FONDO---------------->
<img src="./assets/images/register_background_desktop.jpg"
     style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;">

<div class="contenedor-form">

  <!-- Encabezado Formulario -->
  <img class="logo" src="./assets/images/logo/LOGO_OSCURO.png" style="height: 4rem;">
  <h2>¡Genial!</h2>
  <p>Ya tenemos tus datos de Strava. Indica el correo y la contraseña con la que accederas a tu cuenta de Runffee.</p>

  <!-- Formulario Registro -->
  <form class="formulario" #registerForm="ngForm">

    <!-- Correo -->

    <input
      type="email"
      name="email"
      [(ngModel)]="usuario.correo"
      placeholder="Correo electrónico"
      required
    >

    <!-- email no esta todavia en la base de datos -->
    <div id="emailError" class="error">{{ correoError }}</div>

    <!-- Contraseña -->
    <div class="input-password">

      <input
        id="password"
        name="password"
        [(ngModel)]="usuario.password"
        [type]="visible ? 'text' : 'password'"
        placeholder="Contraseña"
        required
      >
      <span class="eyeicon" (click)="ver()">
        <img [src]="visible ? './assets/icon/icon_ver.png' : './assets/icon/icon_ver_no.png'"
             alt="ver"
             class="eye-img"
        >
      </span>
    </div>

    <!-- contrasena >= 8caracteres -->
    <div id="passwordError" class="error">{{ passwordError }}</div>

    <!-- Repetir contraseña -->

    <div class="input-password">
      <input
        type="password"
        name="repeatpassword"
        [(ngModel)]="usuario.repeatpassword"
        placeholder="Repetir contraseña"
        required
      >

    </div>

    <!-- contrasena == repeatcontrasena -->
    <div id="repeatPasswordError" class="error">{{ repeatPasswordError }}</div>

    <button class="btn-registro" (click)="registrarUsuario()">
      Crear cuenta
    </button>

    <!--</form>-->
  </form>
</div>


  @if (mostrarOtpModal) {
    <div id="otpModal" class="modal">
      <div class="modal-content">
        <h3>Verifica tu cuenta</h3>
        <p>Introduce el código que enviamos a tu correo {{usuario.correo}}</p>
        <input type="text" [(ngModel)]="otp" placeholder="Código OTP" maxlength="6">
        <button (click)="verificarOtp()">Verificar</button>
        <p *ngIf="mensajeOtp" [ngClass]="{'error': errorOtp, 'success': !errorOtp}">{{mensajeOtp}}</p>
      </div>
    </div>
  }
