<div class="contenedor">
  <h2 class="nav-falso">Mis cupones</h2>

  <div class="opciones">
    <button class="disponible-activo" [ngClass]="{'seleccionado': activo}"  (click)="cambiarEstado(true)">Disponibles</button>
    <button class="usados-activo" [ngClass]="{'seleccionado': !activo}" (click)="cambiarEstado(false)">Usados/Caducados</button>
  </div>

  <div class="contenedor-cupones">

    @if (cuponesCargados) {
      @for (cupon of cupones; track cupon.id) {
        @if(activo){
          @if (!cupon.usado) {
            <app-cupon [datos]="cupon"></app-cupon>
          }
        } @else {
          @if (cupon.usado) {
            <app-cupon [datos]="cupon"></app-cupon>
          }
        }
      }

    } @else {
      <div class="skeleton-cupon"></div>
      <div class="skeleton-cupon"></div>
      <div class="skeleton-cupon"></div>
    }
  </div>
</div>
