<div class="contenedor">
  <div class="nav-falso">
    <img src="" alt="<">
    <p>Mis cupones</p>
  </div>

  <div class="opciones">
    <button class="disponible-activo" (click)="cambiarEstado(true)">Disponibles</button>
    <button class="usados-activo" (click)="cambiarEstado(false)">Usados/Caducados</button>
  </div>

  <div class="contenedor-cupones">
  @if(activo){
    @for(cupon of cuponesActivos; track $index){
      <app-cupon
        [nombre]="cupon.nombre"
        [fechaCaducidad]="cupon.fechaCaducidad"
        [imagen]="cupon.imagen"
        [porcentaje]="cupon.porcentaje"
        [descripcion]="cupon.descripcion"
        [usado]="cupon.usado">
      </app-cupon>
    }

  }@else{
    @for(cupon of cuponesCaducados; track $index){
      <app-cupon
                 [nombre]="cupon.nombre"
                 [fechaCaducidad]="cupon.fechaCaducidad"
                 [imagen]="cupon.imagen"
                 [porcentaje]="cupon.porcentaje"
                 [descripcion]="cupon.descripcion"
                 [usado]="cupon.usado">
      </app-cupon>
    }
  }
  </div>
</div>
