<div class="contrasena">

  <h2 class="nav-falso">Cambiar contraseña</h2>

  <div class="contrasena_contenido">
    <label>Contraseña Actual</label>
    <input type="password" [(ngModel)]="contrasenaVieja">
  </div>

  <div class="contrasena_contenido">
    <label>Nueva Contraseña</label>
    <input type="password" [(ngModel)]="contrasenaNueva">
  </div>

  <div class="contrasena_contenido">
    <label>Repetir Contraseña</label>
    <input type="password" [(ngModel)]="contrasenaRepetir">
  </div>

  <div class="contrasena_boton">
    <button (click)="actualizar()">Actualizar</button>
  </div>

  <div *ngIf="mostrarExito" style="color: green;">{{ mensajeExito }}</div>
  <div *ngIf="mostrarError" style="color: red;">{{ mensajeError }}</div>

</div>
