.detallecafeteria {
  justify-content: center;
}


h1, h3{
  font-family: 'Montserrat', sans-serif;
  color: #734B59;
  align-content: center;
}
/*----HEADER----*/

.imagen_principal {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.imagen_principal img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Detrás del contenido */
}

/*----DETALLE CAFETERIA----*/
.destacados{


}
.productos-destacados {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: auto;
  align-self: center;
  justify-items: center;
}

.producto {
  text-align: center;
}

.producto img {
  width: 20rem;
  border-radius: 8px;
}

.producto p {
  margin-top: 10px;
  font-weight: bold;
}


/*----DESTACADOS----*/


/*----VALORACIONES----*/


/*----MAPA----*/

/*----NEWSLETTER----*/

.newsletter_home {
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 5rem;
  margin: 0 auto;
  max-width: 1800px;
  font-family: "Montserrat", sans-serif;
}

.newsletterImgContainer_home {
  display: flex;
  justify-content: center;
  height: 100%;
}

.newsletterImgContainer_home img {
  max-height: 90vh;
  max-width: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}

.newsletterTexto_home {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletterTextoTitulo_home{
  text-align: center;
}

.newsletterTexto_home h6{
  font-size: 40px;
  color: #313132;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 4rem;
}

.newsletterTextoInput_home{
  padding: 1.5rem 2.25rem;
  width: 75%;
  border: 1px solid #4B4B4C;
  border-radius: 25px;
  margin-bottom: 1rem;
  font-size: 20px;
}

.newsletterTextoInput_home:focus {
  border-color: initial;
  outline: none;
}

.newsletterTextoBoton_home{
  box-shadow: none;
  bottom: 0;
  left: 0;
  transform: none;
  margin-bottom: 3rem;
  position: relative;
  width: 45%;
  font-size: 20px;
}

.newsletterTexto_home p{
  font-size: 20px;
}
