<div class="detallecafeteria">
  <app-navbar></app-navbar>
  <div class="imagen_principal">
    <img [src]="datos!.imagen" >
  </div>

  <!-----------------DETALLE CAFETERIA----------------->
<div class="detalle-cafeteria">
  <h1 class="nombre-cafeteria">{{ datos!.nombre}}</h1>
  <div class="descripcion-cafeteria">
    <p>{{datos!.descripcion }}</p>

  </div>
</div>

  <!-----------------PRODUCTOS DESTACADOS----------------->

  <div class="destacados">
    <h3>Los más pedidos</h3>

    <div class="productos-destacados">
      @for (producto of datos.productos; track $index) {

        <div class="producto-item">
          <img src="{{producto.imagen_producto}}" alt="imagen">
          <p>{{ producto.nombre_producto }}</p>
        </div>
      }
    </div>
  </div>
  <!-----------------VALORACIONES----------------->

  <div class="valoraciones">
    <h3>Últimas valoraciones</h3>

  <div class="contenedor-valoraciones">
    <div class="valoracion" *ngFor="let v of datos!.valoraciones">
      <h4>{{ v.titulo }} {{ v.cantidad }}⭐</h4>
      <p>{{ v.descripcion }}</p>
    </div>
  </div>
  </div>


    <!-----------------MAPA----------------->
<div class="ubicacion">
  <h3>¡Estamos aquí!</h3>
  <app-mapa-cafeteria></app-mapa-cafeteria>
</div>


    <!-----------------NEWSLETTER----------------->

    <div class="newsletter_home">
      <div class="newsletterImgContainer_home">
        <img src="./assets/images/newsletter.jpg" alt="newsletter">
      </div>
      <div class="newsletterTexto_home">
        <div class="newsletterTextoTitulo_home">
          <h6>Recibe promociones exclusivas, ventas privadas y novedades</h6>
        </div>
        <input placeholder="E-mail" class="newsletterTextoInput_home">
        <button class="retoBoton_home newsletterTextoBoton_home">SUSCRIBIRME</button>
        <p>Al suscribirte, confirmas que has leído la <b>Política de privacidad.</b></p>
      </div>
    </div>

</div>
  <app-footer></app-footer>




