*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,h2,h3{
  font-family: "Montserrat", sans-serif;
}

input{
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
}

button{
  font-size: large;
  width: 100%;
  border: none;
  padding: 0.75rem;
  background-color: var(--color-secundario-negro);
  color: var(--color-fosforito);
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

button:hover{
  background-color: #3A3A3A;
}

.contenedor{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  justify-self: center;
  margin: 1rem;
}

.volver{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-secundario-negro);
  justify-self: flex-start;
}

.volver>img{
  width: 7px;
}

.resumen-pedido,.anadir-descuento, .metodo-pago{
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  width: 100%;
  max-width: 600px;
  background-color: var(--color-fosforito);
}

.resumen-pedido{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.producto{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(241, 255, 190, 0.83);
}

.producto>div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.producto-regalo{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(241, 255, 190, 0.83);
}

.regalo-img{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.regalo-img img{
  width: auto;
  height: 100%;
}

.nombre-producto{
  font-size: large;
  font-weight: 500;
}

.precio-producto{
  font-size: large;
  font-weight: 700;
}

.anadir-descuento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.mensaje-cupon-aplicado{
  background-color: rgba(241, 255, 190, 0.83);
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.metodo-pago{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.datos-tarjeta{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.totales{
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
}

.totales span{
  font-weight: bold;
  font-size: large;
}

.total{
  font-weight: 800;
  font-size: large;
}

.total span{
  font-size: xx-large;
  font-weight: 900;
}

#popup{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-contenedor{
  width: 100%;
  max-width: 500px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  margin: 1rem;
}

.popup-logo{
  width: 150px;
}



#mensajes-popup{
  position: fixed;
  top: 1rem;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#mensajes-popup>p{
  padding: 2rem;
  min-width: 200px;
  max-width: 400px;
  color: var(--color-fosforito);
  background-color: var(--color-secundario-negro);
  border-radius: 10px;
  margin: 1rem;
}
