*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

h1,h2,h3{
  font-family: "Montserrat", sans-serif;
}

input{
  border: 1px solid whitesmoke;
  padding: 15px;
  width: 100%;
}

button{
  font-size: large;
  width: 100%;
  border: none;
  padding: 0.5rem;
  background-color: var(--color-secundario-negro);
  color: var(--color-fosforito);
  border-radius: 10px;
}

.contenedor{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
}

.resumen-pedido,.anadir-descuento{
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  width: 100%;
  max-width: 600px;
  background-color: var(--color-fosforito);
}

.resumen-pedido{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.anadir-descuento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.totales span{
  font-weight: bold;
}

#popUp{
  display: none;
}
