:host{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  height: 100vh;
  width: 100%;
  color: #2D2D2D;
  padding: 1rem;
}

h1{
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

p{
  margin: 0;
}

img {
  width: 220px;
  filter: opacity(0.9);
}
