body{
    padding: 0;
    margin: 0 auto;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*{
    font-family: Inter, serif;
    color: #2D2D2D;
}

h1,h2,h3{
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

span{
    font-family: "Bagel Fat One";
    font-size: 32px;
}

.column{
    display: flex;
    flex-direction: column;
}

.all-center{
    align-items: center;
    justify-content: center;
}

.gap1{
    gap: 1rem;
}

p{
    margin: 0;
}

#img-welcome{
    width: 100%;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    margin: 1rem;
}

#img-logo{
    width: 60px;
}

ul{
   list-style: none;
    width: 65%;
}

li{
    width: 100%;
    text-align: left;
}

.cabezera{
    width: 100%;
    background-color: #E3FF68;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    gap: 0.5rem;
}

.footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #E3FF68;
    border-radius: 5px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

.despedida{
    margin-top: 1rem;
    font-size: small;
}